/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6{
    color: #D8D8D8;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
button:hover{
    background-color: #3a3833;
}
hr{
   width: 30px; 
   height: 2px;
   background-color: coral;
}
.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: goldenrod;

}






/*navbar*/

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;

}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{

    color: coral;
}

.navbar i{
    font-size: 1.2rem ;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}


/*small screen bar*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;

}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}
#bar:hover,
#bar.active{
    color: #fff;
}

@media only screen and (max-width:991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: coral;

    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: #fff;   
}
#navbarSupportedContent > ul{

    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    padding: 10px 0;
}



}




/*home*/
#home{
    background-image: url("img/back.jpg") ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px  center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color: coral;
}

/*new section*/

#new .one img{ 
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
#new .one .details{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition: 0.3s ease;
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245,178,178,0.7);
}
#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    transform: translateY(70px);
    transition: 0.3s ease;
}
#new .one .details button:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
} 
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align: center;
} 
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
    text-align: end;
} 


/*product*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3 all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background: coral;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3 all;
}
.product:hover .buy-btn{
    
    transform: translateY(0);
    opacity: 1;
    
}
#banner{
    background-image: url("img/banner/2.jpg") ;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4 {
    color: #D8D8D8;
}
#banner h1 {
    color: #fff;
}
#banner button{
    background-color: coral;
}




/* blogs */

.blogs{
    margin-top: 72px;
}
.blogs_container{
    margin-top: 53px;
}
.blog_item{
    height: 355px;
    width: 100%;
}
.blog_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blog_content{
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 20%);
    background: rgba(255, 255, 255, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    opacity: 0;
    transform-origin: center center;
    transform: scale(0.7);
    transition: all 300ms ease;
}
.blog_item:hover .blog_content{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.blog-title{
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0p;
}
.blog_meta{
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color:#51545f;
    margin-bottom: 0px;
    margin-top: 3px;
    letter-spacing: 1px;
}
.blog_more{
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    color: #fe4c50;
    border-bottom: solid 1px #fe4c50;
    margin-top: 12px;
}
.blog_more:hover{
    color: #fe7c7f;
}

/* benefit*/

.benefit{
   
    margin-top: 74px;
}
.benefit_row{
    padding-left: 0px;
    padding-right: 0px;
}
.benefit_col{
    padding-left: 0px;
    padding-right: 0px;
}
.benefit_item{
    height: 130px;
    background: #f3f3f3;
    border-right: solid 1px #ffffff ;
    padding-left: 25px;
    padding-top: 10%;
}
.benefit_col:last-child .benefit_item{
    border-right: none;
}
.benefit_icon i{
    font-size: 30px;
    color: #fe4c50;
}
.benefit_content{
    padding-left: 22px;
}
.benefit_content h6{
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    color: black;
}
.benefit_content p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #51545f;
    padding-left: 0;
}




/*newsletter*/

.newsletter{
    width: 100;
    background: #f2f2f2;
    margin-top: 8px;
}
.newsletter_text{
    height: 120px
}
.newsletter_text h4{
    margin-bottom: 0px;
    line-height: 24px;
}
.newsletter_text p{
    margin-bottom: 3px;
    line-height: 1.7;
    color: #51545f;
}
.newsletter_form{
    height: 130px;
}
#newsletter_email{
    width: 300px;
    height: 46px;
    background: #ffffff;
    border: none;
    padding-left: 20px;
}
#newsletter_email:focus{
    border: solid 1px #7f7f7f !important;
    box-shadow: none !important;
}
:focus{
    outline: none !important;
}
#newsletter_email::-webkit-input-placeholder{
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}
#newsletter_email::input-placeholder{
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}
.newsletter_submit_btn{
    width: 160px;
    height: 46px;
    border: none;
    background: #fe4c50;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.newsletter_submit_btn:hover{
    background: #fe7c7f;
}

/*footer*/
.footer_nav_container{
    height: 130px;
}
.cr{
    margin-right: 48px;
}
.footer_nav li{
    display: inline-block;
    margin-right: 45px;
}
.footer_nav li:last-child{
    margin-right: 0px;
}
.footer_nav li a, .cr{
    font-size: 14px;
    color: #51545f;
    line-height: 30px;
    transition: all 300ms ease;
}
.footer_nav li a:hover, .cr a, .cr i{
    color: #fe4c50;
}
.footer_social{
    height: 130px;
}
.footer_social ul li{
    display: inline-block;
    margin-right: 10px;
}
.footer_social ul li:last-child{
    margin-right: 0px;
}
.footer_social ul li a{
    color: #51545f;
    transition: all 300ms ease;
    padding: 10px;
}
.footer_social ul li:last-child a{
    padding-right: 0px;
}
.footer_social ul li a:hover{
    color: #fe4c50;
}

/*blog*/
#blog-container .post .post-img{
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
}
#blog-container .post img{
    transition: 0.3s ease;
}

#blog-container .post:hover img{
    transform: scale(1.3) rotate(-10deg);
    opacity: 0.8;
}
#blog-container .post h3{
    transition: 0.3s ease;
    cursor: pointer;
}
#blog-container .post:hover h3{
    color: coral;
}

/*contact*/

#page-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://www.libertyinsurance.in/images/contact_banner.jpg") ;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: bottom 10px center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 0%;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 22px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px ;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 12px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}


